# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
./../src/main/java/reload_system
./../src/main/java/reload_system/*
./../src/main/java/Main.java
./../src/resources/*
./../src/resources/
./../genspark-java-core.iml
./../pom.xml
./../settings.xml.xml
./../target
